asgiref==3.4.1
Django==3.2.22
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3
astroid==3.0.2
colorama==0.4.6
dill==0.3.7
isort==5.13.2
mccabe==0.7.0
platformdirs==4.1.0
pylint==3.0.3
setuptools==69.0.3
tomlkit==0.12.3
utc==0.0.3
utils==1.0.2
black==24.1.1
psycopg2-binary==2.9.9
whitenoise==6.6.0
gunicorn==21.2.0
dj-database-url==2.1.0
django-allauth
